@import url('https://fonts.cdnfonts.com/css/lufga');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lufga', sans-serif;                                              
}

body {
    background-color: #333;
}