@import url('https://fonts.cdnfonts.com/css/lufga');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lufga', sans-serif;                                              
}

body {
    background-color: #333;
}

#load-page-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #dd1d1d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#load-page-button:hover {
    background-color: #666;
}

.container-master {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
}

.style-image {
    width: 500px;
    height: 650px;
    border-radius: 12px;
    object-fit: cover;
}

.scrollable-content {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-counter {
    margin: 0 auto;
}

.message {
    border-top: 2px solid #504f4f;
    text-align: justify;
    padding-top: 1rem;
}

.couple_name {
    text-transform: uppercase;
    margin: 0 auto;
}

@media (max-width: 1024px) {

    .scrollable-content {
        height: auto;
        width: auto;
        align-items: center;
    }

    .container-master {
        flex-direction: column;
        height: auto;
        padding: 5rem 0 0 0;
    }

    .style-image {
        width: 300px;
        height: 400px;
    }

    .scrollable-content {
        padding: 3rem;
    }

    .couple_name {
        padding-top: 2rem;
    }

    .text-counter {
        padding-bottom: 1rem;
    }
}





