<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="//lovechocolate.com.br/cdn/shop/files/Logo_Love_Chocolate_200x180_75b0d528-0fac-4592-b63d-4dc7b2d2a7d6.png?crop=center&amp;height=32&amp;v=1688484602&amp;width=32">
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/forms.css?v=1731007607">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Love Site - Crie seu site</title>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/duration.js"></script>
</head>
<body>
    <section class="container-master">
        <div class="container-title">
            <h2>Quase lá</h2>
            <p>Preencha os dados para criar seu contador para criar seu site para supreender o mozão</p>
        </div>
        <form action="/relationship/create/" method="post" class="form" id="form" enctype="multipart/form-data">
            <label for="email">Digite seu melhor email:</label>
            <input type="email" placeholder="exemple@exemple.com" class="input-email" name="email">
            <div class="container-plan">
                <div>
                    <input checked type="radio" id="input-radio-plan-1" class="input-radio-plan-1" value="simple_plan" name="plan" onclick="setMaxFiles(3)">
                    <label for="input-radio-plan-1" class="plan-1 plan-text">1 Ano, 3 fotos - R$14,90</label>
                </div>
                <div>
                    <input type="radio" id="input-radio-plan-2" class="input-radio-plan-2" value="advanced_plan" name="plan" onclick="setMaxFiles(7)">
                    <label for="input-radio-plan-2" class="plan-2 plan-text">Para sempre, 7 fotos - R$29,90</label>
                </div>
            </div>
            <div class="container-input-master">
                <div class="container-input container-input-name">
                    <label for="name">Nome do casal:</label><br>
                    <input 
                        type="text" 
                        class="input-name" 
                        id="name"
                        name="couple_name"
                        placeholder="Pedro e Gabrielle (Não use emoji)">
                </div>
                <div class="container-input container-input-date">
                    <label for="date">Início do relacionamento</label><br>
                    <input type="date" class="input-date" id="relationship-date" name="relationship_beginning_date">
                    <input type="time" class="input-time" id="relationship-time" name="relationship_beginning_hour">
                </div>
            </div>
            <div class="container-textarea">
                <label for="message">Mensagem: </label><br>
                <textarea
                    name="message" 
                    id="message" 
                    placeholder="Escreva sua mensagem linda aqui. Capricha hein! 💕"
                    autocomplete="off"
                    ></textarea>
            </div>
            <label for="file-upload" class="custom-file-upload">
                <i class="bi bi-camera"></i> 
                Escolher fotos do casal (Máximo 3)
            </label>
            <input id="file-upload" type="file" name="files" class="file-upload" multiple accept=".jpg,.jpeg,.png">
            <div class="size-exceeded" id="size-exceeded"></div>
            <button type="submit" form="form" class="create-btn">Criar site</button>
        </form>
    </section>
    <!-- Preview -->
    <section class="preview-container">
        <div class="container-circule">
            <div class="circule" style="background-color: red;"></div>
            <div class="circule" style="background-color: yellow;"></div>
            <div class="circule" style="background-color: green;"></div>
        </div>
        <div class="url">lovesite.com/<span id="preview-name" style="color: black;"></span></div>

        <div class="images" id="image-container">image</div>
        
        <!-- Conteúdo rolável abaixo da imagem -->
        <div class="scrollable-content">
            <p class="text-counter"><strong>Juntos há:</strong> <span id="time-since">Calculando...</span></p>
            <p class="message-p"><span id="preview-message"></span></p>
        </div>
    </section>
    <script src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/forms.js?v=1731007607"></script>
</body>
</html>
