<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/style.css?v=1732804726">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="icon" type="image/png" href="//lovechocolate.com.br/cdn/shop/files/Logo_Love_Chocolate_200x180_75b0d528-0fac-4592-b63d-4dc7b2d2a7d6.png?crop=center&amp;height=32&amp;v=1688484602&amp;width=32">
    <title>Love Site</title>
</head>
<body>
    <header>
        <img class="logo" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Icones_Canva.svg?v=1731609916" alt="logo">
    </header>
    <main>
        <section class="section-home">
            <div class="container-home1">
                <h1>Surpreenda seu amor</h1>
                <p>
                    Crie um contador dinâmico do tempo de relacionamento.
                    Compartilhe com o seu amor e faça um <span>presente surpresa inesquecível</span>.
                    Só apontar para o QR Code 💕
                </p>
                
                <a href="/create" class="button-anco">Quero Fazer meu site</a>
            </div>
            <div class="container-home2">
                <div class="container-image">
                    <img src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/hero-image.webp?v=1732300459" alt="imagem generica">
                </div>
            </div>
        </section>
        <section>
            <div class="legend-image">
                <p class="text-legend">Em destaque no</p>
                <div class="icons-social">
                    <a href="https://www.instagram.com/lovechocolate.com.br/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.tiktok.com/@lovechocolate.com.br"><i class="bi bi-tiktok"></i></a>
                    <a href="https://www.facebook.com/lovechocolate.com.br"><i class="bi bi-facebook"></i></a>
                </div>
                <p class="text-legend">+2880 casais felizes</p>
            </div>
        </section>
        <section class="section-como-funciona">
            <div class="container-como-funciona">
                <h2 class="sub-title">Como funciona</h2>
                <img class="image-como-funciona" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/376e2953-9b7e-480f-8b1a-07058da062d4.png?v=1732302263" alt="image">
            </div>
            <div class="container-card">
                <div class="card">
                    <p>1. Preencha os dados</p>
                    <img class="image-card" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Screenshot_2.png?v=1732304650" alt="card images">
                </div>
                <div class="card">
                    <p>2. Faça o pagamento</p>
                    <img class="image-card" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/bea8987e-4976-4b25-9515-e81fdc3036d8.png?v=1732304998" alt="card images">
                </div>
                <div class="card">
                    <p>3. Receba o seu site + QR Code no e-mail</p>
                    <img class="image-card-email" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Design_sem_nome_3.png?v=1732306316" alt="card images">
                </div>
                <div class="card">
                    <p>4. Surpreenda seu amor</p>
                    <img class="image-card-surpresa" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Design_sem_nome_5.png?v=1732314109" alt="card images">
                </div>
            </div>
        </section>
        <section class="section-price">
            <h2 class="sub-title sub-title-price">Preços</h2>
            <div class="container-card-price">
                <div class="card-price">
                    <div class="container-price spacing-price">
                        <p class="text-price">Básico<br><span>R$29</span></p>
                        <img class="image-price" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Design_sem_nome_6.png?v=1732315040" alt="image-price">
                    </div>
                    <div class="spacing-price container-icons-price">
                        <i class="bi bi-check-circle"><p>1 ano de acesso</p></i>
                        <i class="bi bi-check-circle"><p>3 fotos</p></i>
                        <i class="bi bi-x-circle close"><p class="line">Sem música</p></i>
                    </div>
                    <a href="/create" class="button-anco">Quero fazer meu site</a>
                </div>
                <div class="card-price">
                    <div class="container-price spacing-price">
                        <p class="text-price">Premium<br><span>R$49</span></p>
                        <img class="image-price" src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Design_sem_nome_9.png?v=1732317988" alt="image-price">
                    </div>
                    <div class="spacing-price container-icons-price">
                        <i class="bi bi-check-circle"><p>Para sempre</p></i>
                        <i class="bi bi-check-circle"><p>7 fotos</p></i>
                        <i class="bi bi-check-circle"><p>Com música</p></i>
                    </div>
                    <a href="/create" class="button-anco">Quero fazer meu site</a>
                </div>
            </div>
        </section>
        <section class="section-print">
            <h2 class="sub-title sub-title-print">Surpresas que <span>Viralizaram</span></h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/tiktok1.webp?v=1732804388" alt="Slide 1">
                    <p class="arroba">@zoemeireles</p>
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/tiktok3.webp?v=1732804388" alt="Slide 2">
                    <p class="arroba">@tata.coque</p>
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/tiktok2.webp?v=1732804388" alt="Slide 3">
                    <p class="arroba">@luuscas.limaa</p>
                  </div>
                  <div class="swiper-slide">
                    <img src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/tiktok4.webp?v=1732804388" alt="Slide 4">
                    <p class="arroba">@zoemeireles</p>
                  </div>
                </div>
            </div>
        </section>
        <section class="section-question">
            <h2 class="sub-title sub-title-question">Perguntas Frequentes</h2>
            <!--Colocar um acordeão-->
            <button class="accordion">O que é o Love Site?</button>
            <div class="panel">
            <p>Com o Love Site, você pode criar páginas personalizadas para eternizar momentos especiais do seu relacionamento. Inclua imagens marcantes, uma mensagem apaixonada e um contador que celebra cada dia juntos. Um presente digital inesquecível para quem você ama.</p>
            </div>

            <button class="accordion">Quais são as formas de pagamentos?</button>
            <div class="panel">
            <p>No momento, aceitamsos pagamentos por Pix e cartão de crédito com parcelamento em até 4x sem juros</p>
            </div>

            <button class="accordion">Quanto tempo demora para receber o QR Code  no e-mail?</button>
            <div class="panel">
            <p>Após a confirmação do pagamento você receberá o Qr Code em alguns minutos</p>
            </div>

            <button class="accordion">A página personalizada tem validade?</button>
            <div class="panel">
            <p>No preço básico sim, 1 ano. No plano premium,a página personalizada estará disponível para você pelo resto da vida</p>
            </div>

            <button class="accordion">Como entrar em contato com o suporte?</button>
            <div class="panel">
            <p>Você pode entrar em contato com nosso suporte ao cliente através do e-mail sac@lovechocolate.com.br</p>
            </div>
        </section>
        <footer>
            <img src="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/Icones_Canva.svg?v=1731609916" alt="logo">
            <p class="text-footer">Surpreenda o seu amor criando um contador de tempo de relacionamento</p>
            <p class="copy">Copyright &copy; 2024 - Todos os direitos reservados</p>
            <div class="products footer-card">
                <h4>OUTROS PRODUTOS</h4>
                <a href="https://lovechocolate.com.br/products/love-chocolate">Love Chocolate</a>
                <a href="https://lovechocolate.com.br/products/love-cards">Love Cards</a>
                <a href="https://lovechocolate.com.br/products/kit-romance-love-chocolate">Love Kits</a>
            </div>
            <div class="legal footer-card">
                <h4>LEGAL</h4>
                <a href="https://lovechocolate.com.br/policies/terms-of-service">Termos de uso</a>
                <a href="https://lovechocolate.com.br/policies/privacy-policy">Termos de privacidade</a>
                <p>CPNJ: 51.380.634/0001-58</p>
            </div>
        </footer>
    </main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true, 
            autoplay: {
                delay: 3000, 
                disableOnInteraction: false,
            },
            breakpoints: {
                // Configuração para telas maiores que 1024px
                1024: {
                    slidesPerView: 4, // Mostra 4 slides
                    spaceBetween: 20, // Espaço entre os slides (opcional)
                }
            }
        });

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        });
        }
    </script>
</body>
</html>