<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{message}}">
    <meta property="og:title" content="{{couple_name}}">
    <meta property="og:description" content="{{message}}">
    <meta property="og:image" content="{% if image %}images[0].url{% endif %}">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" href="//lovechocolate.com.br/cdn/shop/files/Logo_Love_Chocolate_200x180_75b0d528-0fac-4592-b63d-4dc7b2d2a7d6.png?crop=center&amp;height=32&amp;v=1688484602&amp;width=32">
    <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0777/8245/0483/files/relationship_50011baa-573e-4365-a2fb-4087d0670d8f.css?v=1731428683">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='relationship.css') }}"> -->
    <title>{{couple_name}}</title>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/duration.js"></script>
    <script>
        dayjs.extend(window.dayjs_plugin_duration); // Registra o plugin duration
    </script>
</head>
<body>

    <p id="relationship-date" style="display: none;">{{date}}</p>
    <p id="relationship-time" style="display: none;">{{hour}}</p>

<!-- Botão para exibir o conteúdo -->
<button id="load-page-button" onclick="showContent()">Clique Aqui💖</button>

<!-- Conteúdo da página, inicialmente oculto -->
<div id="page-content" style="display: none;">
    <section class="container-master">
        <div id="slideshow">
            {% for image in images %}
                <img src="{{ image.url }}" alt="" style="display: none;" class="style-image">
            {% endfor %}
        </div>
        <div class="scrollable-content">
            <p class="text-counter"><strong>Juntos há:</strong> <span id="time-since"></span></p>
            <p class="message">{{message}}</p>
            <p class="couple_name">{{couple_name}}</p>
        </div>
    </section>
</div>

    
</body>

<script>

    let images = document.querySelectorAll("#slideshow img");
    let currentIndex = 0;

    function showContent() {
        document.getElementById("page-content").style.display = "block";  // Mostra o conteúdo
        document.getElementById("load-page-button").style.display = "none";  // Oculta o botão
    }

    // Exibe a primeira imagem imediatamente
    function showImage(index) {
        images.forEach((img, i) => {
            img.style.display = i === index ? "block" : "none";
        });
    }

    // Função de slideshow que troca a imagem
    function startSlideshow() {
        currentIndex = (currentIndex + 1) % images.length;
        showImage(currentIndex);
    }

    // Mostra a primeira imagem instantaneamente
    showImage(currentIndex);

    // Inicia o intervalo de troca a cada 2 segundos
    setInterval(startSlideshow, 2000);

    let interval
    function startCounter() {
        clearInterval(interval);
        const dateInput = document.getElementById("relationship-date").innerText;
        const timeInput = document.getElementById("relationship-time").innerText;
        const startDateTime = dayjs(`${dateInput}T${timeInput}`);

        if(!startDateTime.isValid()) {
            document.getElementById("time-since").textContent = "Data ou hora inválida";
            return;
        }

        interval = setInterval(() => {
            const now = dayjs();
            const duration =  dayjs.duration(now.diff(startDateTime));

            const years = Math.floor(duration.asYears());
            const months = duration.months();
            const days = duration.days();
            const hours = duration.hours();
            const minutes = duration.minutes();
            const seconds = duration.seconds();

            document.getElementById("time-since").innerHTML = 
                `<span>${years} anos, ${months} meses, ${days} dias</span><br><span>${hours} horas, ${minutes} minutos e ${seconds} segundos</span>`;


        }, 1000);
    }

    startCounter();
</script>
</html>